<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>SAPO Messenger</string>
	<key>CFBundleIconFile</key>
	<string>Leapfrog.icns</string>
	<key>CFBundleIdentifier</key>
	<string>pt.sapo.SAPOMessenger</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>@VERSION@</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLIconFile</key>
			<string>generic</string>
			<key>CFBundleURLName</key>
			<string>Jabber URL</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>xmpp</string>
				<string>jabber</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>@REVISION@</string>
	<key>LPBugSubmissionURL</key>
	<string>http://trac.softwarelivre.sapo.pt/sapo_msg_mac/newticket?version=version%%20%@</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>SUCheckAtStartup</key>
	<false/>
</dict>
</plist>
